# Geospatial Preprocessing

## Imports

### Packages

In [1]:
from mobility.utils import DataLoader
from mobility.geospatial import SpatialEngineer

### Data

In [2]:
data_path = "../data/002/Trajectory"
reader = DataLoader(data_path)

pfs = reader.load_user()

pfs.head()

         lat         lon  tid   uid                  datetime
0  39.927938  116.338967    1  data 2008-10-23 20:45:23+08:00
1  39.927527  116.338899    1  data 2008-10-23 20:45:24+08:00
2  39.926516  116.338048    1  data 2008-10-23 20:45:54+08:00
3  39.926496  116.338094    1  data 2008-10-23 20:45:59+08:00
4  39.926498  116.338140    1  data 2008-10-23 20:46:04+08:00

In [3]:
pfs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248217 entries, 0 to 248216
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   lat       248217 non-null  float64
 1   lon       248217 non-null  float64
 2   tid       248217 non-null  int64
 3   uid       248217 non-null  category
 4   datetime  248217 non-null  datetime64[ns, Asia/Shanghai]
dtypes: category(1), datetime64[ns, Asia/Shanghai](1), float64(2), int64(1)
memory usage: 9.7 MB

In [4]:
space = SpatialEngineer()

merged = space.preprocess(pfs)

merged.head()

,user_id,arrived,departed,precise_lat,precise_lon,duration,n_points,cluster,cluster_lat,cluster_lon
0,data,2008-10-23 21:53:57+08:00,2008-10-24 00:01:20+08:00,39.926371,116.337682,127.466667,895,0,39.926322,116.337516
1,data,2008-10-24 08:51:29+08:00,2008-10-24 09:29:57+08:00,39.900886,116.386506,38.466667,182,1,39.900816,116.386347
2,data,2008-10-24 12:23:48+08:00,2008-10-24 13:30:15+08:00,39.900742,116.386831,68.133333,434,1,39.900816,116.386347
3,data,2008-10-24 22:11:21+08:00,2008-10-24 23:18:53+08:00,39.926293,116.337284,68.950000,353,0,39.926322,116.337516
4,data,2008-10-24 23:20:27+08:00,2008-10-25 00:45:45+08:00,39.926443,116.337954,85.850000,865,0,39.926322,116.337516

In [6]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      143 non-null    object
 1   arrived      143 non-null    datetime64[ns, Asia/Shanghai]
 2   departed     143 non-null    datetime64[ns, Asia/Shanghai]
 3   precise_lat  143 non-null    float64
 4   precise_lon  143 non-null    float64
 5   duration     143 non-null    float64
 6   n_points     143 non-null    int64
 7   cluster      143 non-null    int64
 8   cluster_lat  143 non-null    float64
 9   cluster_lon  143 non-null    float64
dtypes: datetime64[ns, Asia/Shanghai](2), float64(5), int64(2), object(1)
memory usage: 11.3+ KB